In [6]:
import pandas as pd
import numpy as np
# from sklearn.linear_model import LogisticRegression
# from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
#from sklearn import tree LogisticRegression
# data = pd.read_csv('C:\\Users\\nikit\\Desktop\\кодишь))\\MIREA\\Jupyter\\BankChurners.csv', index_col = 'CLIENTNUM')
# data_sel = data.loc[:, data.columns.isin(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])]
# data_sel['Gender'] = np.where(data_sel['Gender'] == 'M', 0, 1)
# Gender = data_sel.loc[:, data_sel.columns.isin(['Gender'])]
# X = data_sel.loc[:, data_sel.columns.isin(['Attrition_Flag', 'Customer_Age', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])]
# from sklearn.model_selection import train_test_split
# X_train, X_validation, y_train, y_validation = train_test_split(X, Gender, test_size=0.3, random_state = 0)|

In [7]:
data = pd.read_csv('C:\\Users\\nikit\\Desktop\\кодишь))\\MIREA\\Jupyter\\BankChurners.csv')

In [8]:
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [9]:
data.tail()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [11]:
data.describe() # статический анализ числовых столбцов

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894,0.159997,0.840003
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691,0.365301,0.365301
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000420
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000,0.000099,0.999660
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000,0.000181,0.999820
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000,0.000337,0.999900
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,0.999580,0.999990

In [12]:
data.corr()

C:\Users\nikit\AppData\Local\Temp\ipykernel_17876\2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,1.000000,0.007613,0.006772,0.134588,0.006907,0.005729,0.005694,0.005708,0.000825,0.005633,0.017369,-0.019692,-0.002961,0.007696,0.000266,-0.046411,0.046410
Customer_Age,0.007613,1.000000,-0.122254,0.788912,-0.010931,0.054361,-0.018452,0.002476,0.014780,0.001151,-0.062042,-0.046446,-0.067097,-0.012143,0.007114,0.018189,-0.018189
Dependent_count,0.006772,-0.122254,1.000000,-0.103062,-0.039076,-0.010768,-0.040505,0.068065,-0.002688,0.068291,-0.035439,0.025046,0.049912,0.011087,-0.037135,0.019189,-0.019189
Months_on_book,0.134588,0.788912,-0.103062,1.000000,-0.009203,0.074164,-0.010774,0.007507,0.008623,0.006732,-0.048959,-0.038591,-0.049819,-0.014072,-0.007541,0.013693,-0.013694
Total_Relationship_Count,0.006907,-0.010931,-0.039076,-0.009203,1.000000,-0.003675,0.055203,-0.071386,0.013726,-0.072601,0.050119,-0.347229,-0.241891,0.040831,0.067663,-0.149981,0.149981
Months_Inactive_12_mon,0.005729,0.054361,-0.010768,0.074164,-0.003675,1.000000,0.029493,-0.020394,-0.042210,-0.016605,-0.032247,-0.036982,-0.042787,-0.038989,-0.007503,0.153452,-0.153452
Contacts_Count_12_mon,0.005694,-0.018452,-0.040505,-0.010774,0.055203,0.029493,1.000000,0.020817,-0.053913,0.025646,-0.024445,-0.112774,-0.152213,-0.094997,-0.055471,0.205772,-0.205772
Credit_Limit,0.005708,0.002476,0.068065,0.007507,-0.071386,-0.020394,0.020817,1.000000,0.042493,0.995981,0.012813,0.171730,0.075927,-0.002020,-0.482965,-0.023853,0.023853
Total_Revolving_Bal,0.000825,0.014780,-0.002688,0.008623,0.013726,-0.042210,-0.053913,0.042493,1.000000,-0.047167,0.058174,0.064370,0.056060,0.089861,0.624022,-0.263033,0.263032
Avg_Open_To_Buy,0.005633,0.001151,0.068291,0.006732,-0.072601,-0.016605,0.025646,0.995981,-0.047167,1.000000,0.007595,0.165923,0.070885,-0.010076,-0.538808,-0.000267,0.000267
Total_Amt_Chng_Q4_Q1,0.017369,-0.062042,-0.035439,-0.048959,0.050119,-0.032247,-0.024445,0.012813,0.058174,0.007595,1.000000,0.039678,0.005469,0.384189,0.035235,-0.131207,0.131207
Total_Trans_Amt,-0.019692,-0.046446,0.025046,-0.038591,-0.347229,-0.036982,-0.112774,0.171730,0.064370,0.165923,0.039678,1.000000,0.807192,0.085581,-0.083034,-0.168642,0.168642
Total_Trans_Ct,-0.002961,-0.067097,0.049912,-0.049819,-0.241891,-0.042787,-0.152213,0.075927,0.056060,0.070885,0.005469,0.807192,1.000000,0.112324,0.002838,-0.371403,0.371403
Total_Ct_Chng_Q4_Q1,0.007696,-0.012143,0.011087,-0.014072,0.040831,-0.038989,-0.094997,-0.002020,0.089861,-0.010076,0.384189,0.085581,0.112324,1.000000,0.074143,-0.290115,0.290115
Avg_Utilization_Ratio,0.000266,0.007114,-0.037135,-0.007541,0.067663,-0.007503,-0.055471,-0.482965,0.624022,-0.538808,0.035235,-0.083034,0.002838,0.074143,1.000000,-0.178405,0.178405
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,-0.046411,0.018189,0.019189,0.013693,-0.149981,0.153452,0.205772,-0.023853,-0.263033,-0.000267,-0.131207,-0.168642,-0.371403,-0.290115,-0.178405,1.000000,-1.000000
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,0.046410,-0.018189,-0.019189,-0.013694,0.149981,-0.153452,-0.205772,0.023853,0.263032,0.000267,0.131207,0.168642,0.371403,0.290115,0.178405,-1.000000,1.000000

In [13]:
data.dropna(inplace = True)
data.info

<bound method DataFrame.info of        CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0      768805383  Existing Customer            45      M                3
1      818770008  Existing Customer            49      F                5
2      713982108  Existing Customer            51      M                3
3      769911858  Existing Customer            40      F                4
4      709106358  Existing Customer            40      M                3
...          ...                ...           ...    ...              ...
10122  772366833  Existing Customer            50      M                2
10123  710638233  Attrited Customer            41      M                2
10124  716506083  Attrited Customer            44      F                1
10125  717406983  Attrited Customer            30      M                2
10126  714337233  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
0         High School        Married     $60K - $80K          Blue
1            Graduate         Single  Less than $40K          Blue
2            Graduate        Married    $80K - $120K          Blue
3         High School        Unknown  Less than $40K          Blue
4          Uneducated        Married     $60K - $80K          Blue
...               ...            ...             ...           ...
10122        Graduate         Single     $40K - $60K          Blue
10123         Unknown       Divorced     $40K - $60K          Blue
10124     High School        Married  Less than $40K          Blue
10125        Graduate        Unknown     $40K - $60K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  \
0                  39  ...       12691.0                  777
1                  44  ...        8256.0                  864
2                  36  ...        3418.0                    0
3                  34  ...        3313.0                 2517
4                  21  ...        4716.0                    0
...               ...  ...           ...                  ...
10122              40  ...        4003.0                 1851
10123              25  ...        4277.0                 2186
10124              36  ...        5409.0                    0
10125              36  ...        5281.0                    0
10126              25  ...       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
0              11914.0                 1.335             1144              42
1               7392.0                 1.541             1291              33
2               3418.0                 2.594             1887              20
3                796.0                 1.405             1171              20
4               4716.0                 2.175              816              28
...                ...                   ...              ...             ...
10122           2152.0                 0.703            15476             117
10123           2091.0                 0.804             8764              69
10124           5409.0                 0.819            10291              60
10125           5281.0                 0.535             8395              62
10126           8427.0                 0.703            10294              61

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  \
0                    1.625                  0.061
1                    3.714                  0.105
2                    2.333                  0.000
3                    2.333                  0.760
4                    2.500                  0.000
...                    ...                    ...
10122                0.857                  0.462
10123                0.683                  0.511
10124                0.818                  0.000
10125                0.722                  0.000
10126                0.649                  0.189

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
0                                               0.000093
1                                               0.000057
2                                               0.000021
3                                               0.000134
4                                               0.000022
...                                                  ...
10122                                           0.000191
10123                                           0.995270
10124                                           0.997880
10125                                           0.996710
10126                                           0.996620

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                               0.999910
1                                               0.999940
2                                               0.999980
3                                               0.999870
4                                               0.999980
...                                                  ...
10122                                           0.999810
10123                                           0.004729
10124                                           0.002118
10125                                           0.003294
10126                                           0.003377

[10127 rows x 23 columns]>

In [15]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
label.fit(data.Gender)
data.Gender = label.transform(data.Gender)

In [16]:
data.Gender.head()

0    1
1    0
2    1
3    0
4    1
Name: Gender, dtype: int32

In [17]:
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,1,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,0,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,1,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,0,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,1,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [18]:
data['Education_Level'].value_counts()

Graduate         3128
High School      2013
Unknown          1519
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: Education_Level, dtype: int64

In [26]:
education = pd.get_dummies(data['Education_Level'])
data = pd.concat((data, education), axis = 1)
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Post-Graduate,Uneducated,Unknown,College,Doctorate,Graduate,High School,Post-Graduate,Uneducated,Unknown
0,768805383,Existing Customer,45,1,3,High School,Married,$60K - $80K,Blue,39,...,0,0,0,0,0,0,1,0,0,0
1,818770008,Existing Customer,49,0,5,Graduate,Single,Less than $40K,Blue,44,...,0,0,0,0,0,1,0,0,0,0
2,713982108,Existing Customer,51,1,3,Graduate,Married,$80K - $120K,Blue,36,...,0,0,0,0,0,1,0,0,0,0
3,769911858,Existing Customer,40,0,4,High School,Unknown,Less than $40K,Blue,34,...,0,0,0,0,0,0,1,0,0,0
4,709106358,Existing Customer,40,1,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,1,0,0,0,0,0,0,1,0

In [24]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder = LabelEncoder()
ohe = OneHotEncoder(categories='auto')
label_encoded_data = label_encoder.fit_transform(data['Education_Level'])
coded_data = ohe.fit_transform(label_encoded_data.reshape(-1, 1))
print(coded_data.toarray())

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]]

In [27]:
data['Marital_Status'].value_counts()

Married     4687
Single      3943
Unknown      749
Divorced     748
Name: Marital_Status, dtype: int64

In [28]:
marital = pd.get_dummies(data['Education_Level'])
data = pd.concat((data, marital), axis = 1)
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Post-Graduate,Uneducated,Unknown,College,Doctorate,Graduate,High School,Post-Graduate,Uneducated,Unknown
0,768805383,Existing Customer,45,1,3,High School,Married,$60K - $80K,Blue,39,...,0,0,0,0,0,0,1,0,0,0
1,818770008,Existing Customer,49,0,5,Graduate,Single,Less than $40K,Blue,44,...,0,0,0,0,0,1,0,0,0,0
2,713982108,Existing Customer,51,1,3,Graduate,Married,$80K - $120K,Blue,36,...,0,0,0,0,0,1,0,0,0,0
3,769911858,Existing Customer,40,0,4,High School,Unknown,Less than $40K,Blue,34,...,0,0,0,0,0,0,1,0,0,0
4,709106358,Existing Customer,40,1,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,1,0,0,0,0,0,0,1,0

In [29]:
data['Income_Category'].value_counts()

Less than $40K    3561
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
Unknown           1112
$120K +            727
Name: Income_Category, dtype: int64

In [30]:
income = pd.get_dummies(data['Income_Category'])
data = pd.concat((data, income), axis = 1)
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,High School,Post-Graduate,Uneducated,Unknown,$120K +,$40K - $60K,$60K - $80K,$80K - $120K,Less than $40K,Unknown
0,768805383,Existing Customer,45,1,3,High School,Married,$60K - $80K,Blue,39,...,1,0,0,0,0,0,1,0,0,0
1,818770008,Existing Customer,49,0,5,Graduate,Single,Less than $40K,Blue,44,...,0,0,0,0,0,0,0,0,1,0
2,713982108,Existing Customer,51,1,3,Graduate,Married,$80K - $120K,Blue,36,...,0,0,0,0,0,0,0,1,0,0
3,769911858,Existing Customer,40,0,4,High School,Unknown,Less than $40K,Blue,34,...,1,0,0,0,0,0,0,0,1,0
4,709106358,Existing Customer,40,1,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,0,1,0,0,0,1,0,0,0

In [31]:
data['Card_Category'].value_counts()

Blue        9436
Silver       555
Gold         116
Platinum      20
Name: Card_Category, dtype: int64

In [32]:
card = pd.get_dummies(data['Card_Category'])
data = pd.concat((data, card), axis = 1)
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,$120K +,$40K - $60K,$60K - $80K,$80K - $120K,Less than $40K,Unknown,Blue,Gold,Platinum,Silver
0,768805383,Existing Customer,45,1,3,High School,Married,$60K - $80K,Blue,39,...,0,0,1,0,0,0,1,0,0,0
1,818770008,Existing Customer,49,0,5,Graduate,Single,Less than $40K,Blue,44,...,0,0,0,0,1,0,1,0,0,0
2,713982108,Existing Customer,51,1,3,Graduate,Married,$80K - $120K,Blue,36,...,0,0,0,1,0,0,1,0,0,0
3,769911858,Existing Customer,40,0,4,High School,Unknown,Less than $40K,Blue,34,...,0,0,0,0,1,0,1,0,0,0
4,709106358,Existing Customer,40,1,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,0,1,0,0,0,1,0,0,0